<div class="publications">
  {% bibliography --group_by none --query @*[selected=true]* %}
  {% comment %} {% bibliography --group_by year --query @*[selected=true]* %} {% endcomment %}
  {% comment %} {% bibliography -f papers --query @*[selected=true]* %} {% endcomment %}
</div>
