{% comment %} <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=Xzj_pnMPCdgn0zqr-V3wQ6bmo27SoZyfnuEcr3jwd9s&cl=ffffff&w=a"></script> {% endcomment %}
<a href="https://clustrmaps.com/site/1c035"  title="Visit tracker"><img src="//www.clustrmaps.com/map_v2.png?d=Xzj_pnMPCdgn0zqr-V3wQ6bmo27SoZyfnuEcr3jwd9s&cl=ffffff" /></a>