<style>
  .visits-map {
    width: 80%; /* Take up 80% of the parent container's width */
    max-width: 600px; /* Limit the maximum size on large screens */
    margin: 0 auto; /* Center the map horizontally */
  }

  #clustrmaps {
    width: 100%; /* Make the map fit within the container */
  }

  @media (max-width: 768px) { /* For tablets like iPads */
    .visits-map {
      width: 90%; /* Slightly increase the width on smaller screens */
      max-width: 500px; /* Adjust max width for tablet */
    }
  }

  @media (max-width: 480px) { /* For mobile phones like iPhones */
    .visits-map {
      width: 100%; /* Full width on mobile */
      max-width: 300px; /* Set a smaller maximum size for small screens */
    }
  }
</style>

<div class="visits-map">
    <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=Xzj_pnMPCdgn0zqr-V3wQ6bmo27SoZyfnuEcr3jwd9s&cl=ffffff&w=a"></script>
</div>


{% comment %} <a href="https://clustrmaps.com/site/1c035"  title="Visit tracker"><img src="//www.clustrmaps.com/map_v2.png?d=Xzj_pnMPCdgn0zqr-V3wQ6bmo27SoZyfnuEcr3jwd9s&cl=ffffff" /></a> {% endcomment %}